fastapi>=0.104.1
uvicorn>=0.24.0
numpy>=2.1.0
pandas>=2.2.0
python-dateutil>=2.8.2
pydantic>=2.4.2
websockets>=12.0
python-multipart>=0.0.9
openpyxl>=3.1.5
scikit-learn>=1.4.1
tensorflow>=2.15.0
keras>=3.0.0
matplotlib>=3.8.0
seaborn>=0.13.0
papermill>=2.4.0
jupyter>=1.0.0
nbconvert>=7.13.1
